/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Content
# Front Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
    max-width: 90%;
    margin: 3% auto 0;
}

.content-area h4 {
    background: #eee;
    margin: 0;
    padding: 20px;
}

/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.front-page-intro,
.front-page-columns {
    margin-bottom: 72px;
    padding-bottom: 24px;
}

.front-page-intro {
    border-bottom: 4px double #eee;
}
